if ("${params.species}".toLowerCase().replace(" ", "_") == "bos_taurus") {

    params.fasta = "ftp://ftp.ensembl.org/pub/release-104/fasta/bos_taurus/dna/Bos_taurus.ARS-UCD1.2.dna.toplevel.fa.gz"
    params.gtf = "ftp://ftp.ensembl.org/pub/release-104/gtf/bos_taurus/Bos_taurus.ARS-UCD1.2.104.gtf.gz"
    params.macs_gsize = "2.3e9"
/*
} else if ("${params.species}".toLowerCase().replace(" ", "_") == "capra_hircus") {

    params.fasta = "ftp://ftp.ensembl.org/pub/release-104/fasta/capra_hircus/dna/Capra_hircus.ARS1.dna.toplevel.fa.gz"
    params.gtf = "ftp://ftp.ensembl.org/pub/release-104/gtf/capra_hircus/Capra_hircus.ARS1.104.gtf.gz"
*/
} else if ("${params.species}".toLowerCase().replace(" ", "_") == "equus_caballus") {

    params.fasta = "ftp://ftp.ensembl.org/pub/release-104/fasta/equus_caballus/dna/Equus_caballus.EquCab3.0.dna.toplevel.fa.gz"
    params.gtf = "ftp://ftp.ensembl.org/pub/release-104/gtf/equus_caballus/Equus_caballus.EquCab3.0.104.gtf.gz"
    params.macs_gsize = "2.2e9"

} else if ("${params.species}".toLowerCase().replace(" ", "_") == "gallus_gallus") {

    params.fasta = "ftp://ftp.ensembl.org/pub/release-104/fasta/gallus_gallus/dna/Gallus_gallus.GRCg6a.dna.toplevel.fa.gz"
    params.gtf = "ftp://ftp.ensembl.org/pub/release-104/gtf/gallus_gallus/Gallus_gallus.GRCg6a.104.gtf.gz"
    params.macs_gsize = "1.1e9"
/*
} else if ("${params.species}".toLowerCase().replace(" ", "_") == "ovis_aries") {

    params.fasta = "ftp://ftp.ensembl.org/pub/release-104/fasta/ovis_aries/dna/Ovis_aries.Oar_v3.1.dna.toplevel.fa.gz"
    params.gtf = "ftp://ftp.ensembl.org/pub/release-104/gtf/ovis_aries/Ovis_aries.Oar_v3.1.104.gtf.gz"
*/
} else if ("${params.species}".toLowerCase().replace(" ", "_") == "sus_scrofa") {

    params.fasta = "ftp://ftp.ensembl.org/pub/release-104/fasta/sus_scrofa/dna/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa.gz"
    params.gtf = "ftp://ftp.ensembl.org/pub/release-104/gtf/sus_scrofa/Sus_scrofa.Sscrofa11.1.104.gtf.gz"
    params.macs_gsize = "2.2e9"

}
